:root {
  --color-empty-shade: #fff;
  --color-light-shade: #fcfcf7;
  --color-lighter-shade: #c4c4c4;
  --color-dark-shade: #606058;
  --color-darker-shade: #f4f3ef;
  --color-text: #1c1c1c;
  --color-accent: #404040;
  --color-constructive: #286CB0;
  --color-destructive: #d94b03;
  --font-primary: 'Helvetica', sans-serif;
}

html,
body {
  padding: 0 15px;
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--color-darker-shade);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

[class^="RampText--"] {
  line-height: 1.5;
  font-size: 1rem;
  margin: 0;
}

.RampDiv {
  margin: 10px;
  padding: 0px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(69, 69, 69);
  border-radius: 10px;
}

.RampText--d {
  color: var(--color-darker-shade);
  font-size: 16px;
  line-height: 1.3;
}
.RampText--s {
  font-size: 0.75rem;
  color: grey;
}

.RampText--hushed {
  color: var(--color-text);
  color: var(--color-dark-shade);
}

[class^="RampTextHeading--"] {
  margin: 0;
  line-height: 1;
}

.RampTextHeading--m {
  font-size: 1.5rem;
  text-align: left;
}

.RampTextHeading--l {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.RampGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
  width: 100%;
}

.RampBreak--xs {
  height: 0.5rem;
}

.RampBreak--s {
  height: 0.75rem;
}

.RampBreak--l {
  height: 1.75rem;
}

hr.RampBreak--l {
  height: 1px;
  width: 100%;
  margin: 1.75rem 0;
}

.RampInputSelect--root {
  width: 100%;
}

.RampInputSelect--input {
  padding: 1rem 0.75rem;
  border-bottom: 1px solid var(--color-text);
  cursor: pointer;
  background-color: var(--color-darker-shade);
}

.RampInputSelect--dropdown-container {
  display: none;
  display: block;
  position: absolute;
  width: 88%;
  max-width: 700px;
  margin-top: 0.5rem;
  max-height: 16rem;
  overflow: auto;
  background-color: var(--color-darker-shade);
  border-bottom: rgb(71, 71, 71);
}

.RampInputSelect--dropdown-container-opened {
  display: block;
  position: absolute;
  width: 88%;
  max-width: 700px;
  background-color: var(--color-darker-shade);
  margin-top: 0.5rem;
  max-height: 16rem;
  overflow: auto;
  border-bottom: rgb(71, 71, 71);
}

.RampInputSelect--dropdown-item {
  padding: 1rem 0.75rem;
  background-color: var(--color-darker-shade);
  cursor: pointer;
  border-bottom: solid 1px grey;
}

.RampInputSelect--dropdown-item-highlighted {
  font-weight: 600;
  color: rgb(69, 69, 69);
}

.RampInputSelect--dropdown-item-selected {
  color: black;
  font-weight: 600;
}

.RampInputCheckbox--container {
  display: flex;
}

.RampInputCheckbox--label {
  border: 1px solid var(--color-light-shade);
  background-color: var(--color-lighter-shade);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.RampInputCheckbox--label-disabled {
  cursor: progress;
}

.RampInputCheckbox--label-checked:before {
  content: " ";
  width: 100%;
  height: 100%;
  border-color: var(--color-constructive);
  background-color: var(--color-constructive);
}

.RampInputCheckbox--input {
  display: none;
}

.RampButton {
  background-color: var(--color-accent);
  color: var(--color-empty-shade);
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
}

.RampButton:hover {
  background-color: var(--color-dark-shade);
  color: var(--color-empty-shade);
}

.RampButton:disabled {
  cursor: progress;
}

.RampPane {
  padding: 1rem;
  border-bottom: 1px solid var(--color-lighter-shade);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.RampPane--content {
  flex: 1;
}

.RampLoading--container {
  display: flex;
  justify-content: center;
}

.RampError {
  margin: 4rem auto;
  max-width: 40rem;
  border: 1px solid var(--color-destructive);
  color: var(--color-destructive);
  padding: 2rem;
}

.MainContainer {
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 4rem 0;
}

.FilterContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}
